[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
importlib-metadata = "*"
importlib-resources = "*"

[dev-packages]

[requires]
python_version = "3.8"
